<div class="bg-black flex w-full sm:h-full rounded-xl overflow-hidden relative">
  <video
    controls
    #videoPlayer
    [attr.src]="'assets/videos/' + currentVideo"
    (timeupdate)="onTimeUpdate($event)"
  ></video>
  <div
    [ngStyle]="{ 'background-color': currentSettings.color, 'display': this.currentText ? 'block' : 'none'}"
    class="absolute left-[50%] transform -translate-x-1/2 text-center p-2 px-4 z-50 {{
      currentSettings.size === 'small'
        ? 'text-sm'
        : currentSettings.size === 'medium'
        ? 'text-base'
        : currentSettings.size === 'large'
        ? 'text-xl'
        : ''
    }}
    {{
      currentSettings.position === 'upper'
        ? 'bottom-[30%]'
        : currentSettings.position === 'base'
        ? 'bottom-[20%]'
        : currentSettings.position === 'lower'
        ? 'bottom-[10%]'
        : ''
    }}"
  >
    {{ this.currentText }}
  </div>
</div>
